.color1{
    float:left;
    height:1px;
    width:15%;
    border-bottom: solid 2px var(--dark);
}

.color2{
    float:left;
    height:1px;
    width:15%;
    border-bottom: solid 2px var(--light-accent);
}

.color-tail{
    float: left;
    height: 1px;
    width: 85%;
    border-bottom: solid 2px var(--dark);
    opacity: 0.2;
}

.head1{
    color: var(--dark)
}

.head2{
    color: var(--light-accent);
}