.NavbarItems {
    /*background: linear-gradient(90deg, rgb(178, 173, 219) 0%, rgb(116, 112, 189) 100%);*/
    background: linear-gradient(180deg, rgb(240, 248, 255) 0%, rgba(116, 112, 189, 0) 100%);
    margin-top: 3.8%;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.2rem;
}

.navbar.logo {
    color: rgb(255, 255, 255);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 50vw;
    justify-content: left;
    margin-right: 18rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.nav-links {
    color: var(--dark-shades); /* rgb(254, 254, 255); */
    text-decoration: none;
    padding: 1rem;
}

.nav-links:hover {
    background-color: var(--light-shades);/*rgb(201, 201, 238);*/
    padding: 1rem;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars{
    color: rgb(254, 254, 255);
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 1200px) {
    .NavbarItems{
        position: relative;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        margin: auto;
        transition: all 0.5s ease;
    }
    .nav-menu.active {
        background: rgb(178, 173, 219);
        left: 0;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 1;
    }
    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover{
        background-color:  rgb(201, 201, 238);
        border-radius: 100%;
        transition: all 2s ease;
    }
    .navbar.logo{
        color: rgb(254, 254, 255);
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 2rem;
        cursor: pointer;
    }
    .fa-xmark{
        color: rgb(254, 254, 255);
    }
    
}