.Carousel {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper{
  padding-top: 50px;
  padding-bottom: 50px;
}

button.rec-dot {
  display: none;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.items {
  height: auto;
  max-width: 70px;
}

.rec.rec-arrow {
  border-radius: 50%;
  background-color: transparent;
}

.rec.rec-arrow:hover {
  border-radius: 50%;
}

.h2{
  text-align: left;
}

