body {
  --primary-color: #000;
  --dark-blue: #1a132f;
  --gray-blue: #5b7db1;
  --green-blue: #61a4bc;
  --beige: #f7e2e2;

  --light-shades: #f3f6fc;
  --light-accent: #1f77c8;
  --main-color: #57d0dd;
  --dark-accent: #495882;
  --dark-shades: #212636;

  --light: #5ce0d8;
  --dark: #01345b;
  --accent: #ffcf43;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 1600px;
  padding: 5%;
  margin: auto;
}

.header-div {
  background-image: url("components/assets/new-york-g8864bae9d_1920.jpg"); 
  background-attachment: fixed;
  padding-bottom: 100px; 
  
}

.heading {
  padding-bottom: 80px;
  text-align: center;
}

.section {
  left: 0;
  right: 0;
  margin-bottom: 100px;
  background-color: var(--light-shades);
}

.subtitle {
  font-size: 23px;
  opacity: 0.8;
}